h1 Приёмная квитанция № <num> от <date>
h2 Копия квитанции № <num> от <date>
h3 Заказ-наряд № <num> от <date>
h4 Заказ-наряд на выполнение гарантийных работ № <num> от <date>
h5 Заказ-наряд на выполнение не гарантийных работ № <num> от <date>
h6 



